fastapi
uvicorn[standard]
sqlalchemy
alembic
pymysql
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic-settings
email-validator
bcrypt==4.0.1
websockets
httpx
gunicorn
reportlab>=4.0.0
python-barcode>=0.15.1
qrcode>=7.4.2
Pillow>=10.0.0
sendgrid>=6.11.0
