DATABASE_URL=mysql+pymysql://USER:PASSWORD@127.0.0.1/DBNAME
JWT_SECRET_KEY=CHANGE_ME
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
ENVIRONMENT=production
BACKEND_URL=https://api.exprooftecmx.tech
BACKEND_CORS_ORIGINS=["https://app.exprooftecmx.tech"]
